* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  width: 100%;
  height: 100vh;
}

section nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  background: rgb(255, 124, 124);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

section nav .logo img {
  width: 100px;
  cursor: pointer;
  margin: 7px 0;
}

section nav ul {
  list-style: none;
}

section nav ul li {
  display: inline-block;
  margin: 0 15px;
}

section nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 17px;
  transition: 0.1s;
}

section nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #ffffff;
  display: block;
  transition: 0.2s linear;
}

section nav ul li a:hover::after {
  width: 100%;
}

section nav ul li a:hover {
  color: #ffffff;
}

section nav .icon i {
  font-size: 18px;
  color: black;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

section nav .icon i:hover {
  color: white;
}

section .main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 130px;
}

section .main .men_text h1 {
  font-size: 60px;
  position: relative;
  top: -140px;
  left: 20px;
}

section .main .men_text h1 span {
  margin-left: 15px;
  color: rgb(255, 124, 124);
  font-family: mv boli;
  line-height: 22px;
  font-size: 70px;
}

section .main .main_img {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  transform: translateY(-10%);
  animation: floater 5.05s infinite;
  transition: ease 0.5s;
  width: 650px;
  height: 600px;
}
@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}

section p {
  width: 650px;
  text-align: justify;
  position: relative;
  left: 120px;
  bottom: 200px;
  line-height: 22px;
}

section .main_btn {
  background: rgb(255, 124, 124);
  position: relative;
  left: 123px;
  bottom: 150px;
  width: 150px;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 22px;
}

section .main_btn a {
  color: black;
  margin-right: 10px;
  text-decoration: none;
}

section .main_btn a i {
  color: black;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

section .main_btn:hover {
  box-shadow: 0 0 10px rgba(255, 124, 124, 0.7),
    0 0 20px rgba(255, 124, 124, 0.5), 0 0 30px rgba(255, 124, 124, 0.3);
  transform: scale(1.1);
}

/* About */

.about {
  width: 100%;
  height: 100vh;
  padding: 70px 0;
}

.about .about_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about .about_main .image img {
  width: 800px;
  position: relative;
  top: 50px;
}

.about .about_main .about_text h1 span {
  color: rgb(255, 124, 124);
  margin-right: 15px;
  font-family: mv boli;
}

.about .about_main .about_text h1 {
  font-size: 55px;
  position: relative;
  bottom: 50;
}

.about .about_main .about_text h3 {
  font-size: 30px;
  margin: 0 0 50px 0;
}

.about .about_main .about_text p {
  width: 650px;
  text-align: justify;
  margin-right: 30px;
  line-height: 22px;
}

.about .about_btn {
  background: rgb(255, 124, 124);
  padding: 10px 22px;
  text-decoration: none;
  color: black;
  position: relative;
  left: 54%;
  bottom: -60px;
}

/* MENU */

.menu {
  width: 100%;
  padding: 70px 0;
}

.menu h1 {
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.menu h1 span {
  color: rgb(255, 124, 124);
  margin-left: 15px;
  font-family: mv boli;
}

.menu h1 span::after {
  content: "";
  width: 100%;
  height: 2px;
  background: rgb(255, 124, 124);
  display: block;
  position: relative;
  bottom: 15px;
}

.menu .menu_box {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
.menu .menu_box .menu_card {
  width: 325px;
  height: 480px;
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.menu .menu_box .menu_card .menu_image {
  width: 300px;
  height: 245px;
  margin: 0 auto;
  overflow: hidden;
}
.menu .menu_box .menu_card .menu_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img {
  transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card {
  width: 45px;
  height: 45px;
  float: right;
  position: relative;
  top: -240px;
  right: -8px;
  opacity: 0;
  border-radius: 7px;
  transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card {
  position: relative;
  top: -240px;
  right: 20px;
  opacity: 1;
}
.menu .menu_box .menu_card .small_card i {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-shadow: 0 0 6px #000;
  transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover {
  color: rgb(255, 124, 124);
}

.menu .menu_box .menu_card .menu_info h2 {
  width: 60%;
  text-align: center;
  margin: 10px auto 10px auto;
  font-size: 25px;
  color: rgb(255, 124, 124);
  font-family: mv boli;
}

.menu .menu_box .menu_card .menu_info p {
  text-align: center;
  margin-top: 8px;
  line-height: 21px;
}
.menu .menu_box .menu_card .menu_info h3 {
  text-align: center;
  margin-top: 10px;
}
.menu .menu_box .menu_card .menu_info .menu_icon {
  color: rgb(255, 124, 124);
  text-align: center;
  margin: 10px 0 20px 0;
}
.menu .menu_box .menu_card .menu_info .menu_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  background: #000;
  padding: 8px 10px;
  margin: 0 80px;
  transition: 0.3s;
}

/* Order */

.order {
  width: 100%;
  height: 100vh;
  padding: 70px 0;
  background-image: url();
  background-size: cover;
  background-position: center;
}

.order h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 55px;
}

.order h1 span {
  color: rgb(255, 124, 124);
  margin-right: 15px;
  font-family: mv boli;
}

.order h1 span::after {
  content: "";
  width: 100%;
  height: 2px;
  background: rgb(255, 124, 124);
  display: block;
  position: relative;
  bottom: 15px;
}

.order .order_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.order .order_main .order_image img {
  width: 650px;
}
.order .order_main form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 10px;
}

.order .order_main form .input p {
  line-height: 20px;
}

.order .order_main form .input {
  margin: 5px;
}
.order .order_main form .input input {
  width: 300px;
  height: 35px;
  padding: 0 10px;
  border: 2px solid #ffffff;
  background: #eeee;
  outline: none;
  border-radius: 3px;
}

.order .order_main form .input input:focus {
  border: 1.5px solid rgb(255, 124, 124);
}

.order .order_main form .order_btn {
  padding: 10px 0;
  background: rgb(255, 124, 124);
  color: white;
  width: 40%;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}

/* our founder */

.team {
  width: 100%;
  height: 90vh;
  background-image: url(https://static.vecteezy.com/system/resources/previews/007/546/791/original/food-delivery-app-on-a-smartphone-tracking-a-delivery-man-on-a-moped-with-a-ready-meal-technology-and-logistics-concept-city-skyline-in-the-background-vector.jpg);
  background-size: cover;
  background-position: center;
}
.team h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  margin-bottom: 30px;
}

.team h1 span {
  color: rgb(255, 124, 124);
  font-family: mv boli;
  margin-left: 15px;
}

.team h1 span::after {
  content: "";
  width: 100%;
  height: 2px;
  background: rgb(255, 124, 124);
  display: block;
  position: relative;
  bottom: 10px;
}
.team .team_box {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 13%;
}
.team .team_box .profile {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  transition: 0.4s;
}
.team .team_box .profile:hover {
  border-radius: 10px;
  height: 320px;
}
.team .team_box .profile img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  z-index: 2;
  transition: 0.4s;
  text-decoration: none;
}

.team .team_box .profile:hover img {
  border-radius: 12px;
  margin-top: -230px;
}

.team .team_box .profile .info {
  position: absolute;
  text-align: center;
  top: 25%;
  transition: 0.4s;
  text-decoration: none;
}
.team .team_box .profile:hover .info {
  top: 50%;
}

.team .team_box .profile:hover .info .name {
  color: rgb(255, 124, 124);
  margin-bottom: 0.02rem;
  font-family: mv boli;
}
.team .team_box .profile:hover .info .bio {
  width: 70%;
  text-align: center;
  margin: 0 auto 10px auto;
  text-decoration: none;
}

.team .team_box .profile:hover .info .team_icon i {
  margin: 10px 5px 5px 0;
  cursor: pointer;
  transition: 0.3s;
  color: #000;
}

.team .team_box .profile:hover .info .team_icon i:hover {
  color: rgb(255, 124, 124);
}
